__pycache__/
.pytest_cache/
*.pyc
data/tramites.db
~$*

# Entorno virtual (¡CRUCIAL! No lo subas, pesa mucho)
venv/
env/
.venv/

# Archivos del sistema macOS
.DS_Store

# Configuración de editores de código
.vscode/
.idea/

# Logs
*.log